{% extends 'base.html.twig' %}

{% block title %}Vionnet Steve{% endblock %}

{% block body %}
    <div class="container">
     <div class="works-container">
            {% for project in projects %}
                <div class="row work">
                    {% if loop.index0 % 2 == 0 %}
                        <div class="col-12 col-md-6">
                            <div class="image">
                                <img src="{{ mediaUrl(project.cover) }}" alt="1" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6 content">
                            <h5 class="title weight-600">{{ project.detail.title }}</h5>
                            {{ doubleColorText(project.detail.shortDescription)|raw }}
                            <div class="tags weight-300">
                                {% for tag in project.tags %}
                                    <span class="tag" style="color: {{ tag.color }};">{{ tag.name }}</span>{{ not loop.last ? '<span class="tag">&#9679;</span>' : ''}}</span>
                                {% endfor %}
                            </div>
                            <div class="show-more">
                                <a href="{{ path('project_detail', {slug: project.detail.slug}) }}">View Work
                                    <svg class="icon">
                                        <use xlink:href="{{ asset("build/images/sprite.svg#chevron-right") }}"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 col-md-6 content">
                            <h5 class="title weight-600">{{ project.detail.title }}</h5>
                            {{ doubleColorText(project.detail.shortDescription)|raw }}
                            <div class="tags weight-300">
                                {% for tag in project.tags %}
                                    <span class="tag" style="color: {{ tag.color }};">{{ tag.name }}</span>{{ not loop.last ? '<span class="tag">&#9679;</span>' : ''}}</span>
                                {% endfor %}
                            </div>
                            <div class="show-more">
                                <a href="{{ path('project_detail', {slug: project.detail.slug}) }}">View Work
                                    <svg class="icon">
                                        <use xlink:href="{{ asset("build/images/sprite.svg#chevron-right") }}"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="image">
                                <img src="{{ mediaUrl(project.cover) }}" alt="1" />
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
